<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，对sql进行分类管理，对sql进行隔离-->
<mapper namespace="com.mapper.UserMapper">
    <!--mappedStatement的id 精准查询-->
    <select id="findUserById" parameterType="int" resultType="com.entity.UserEntity">
        SELECT * from shiyanloudb.user WHERE id=#{id};
    </select>
    <!--模糊查询
        ${id}拼接字符串 在程序把接收到的参数不加任何修饰
        不安全，可能引起sql注入,值只能为value-->
    <select id="findUserByName" parameterType="java.lang.String" resultType="com.entity.UserEntity">
        SELECT * FROM shiyanloudb.user WHERE username LIKE '%${value}%'
    </select>

    <insert id="insertUser" parameterType="com.entity.UserEntity">
<!--适用于自增的主键-->
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO shiyanloudb.user(username, password) VALUES (#{username},#{password});
    </insert>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM shiyanloudb.user WHERE id=#{id}
    </delete>

    <update id="updateUser" parameterType="com.entity.UserEntity">
        UPDATE shiyanloudb.user SET username=#{username},password=#{password}
        WHERE id=#{id}
    </update>
</mapper>
